---
layout: default
title: Aggiornamenti Nomenclatura
---

<section class="section section--alt" id="resources" style="min-height: 600px;">
  <div class="container">
    <p>Aggiornamenti trimestrali tratti da Index Fungorum riferiti alle specie contenute nel <a
        href="https://ambvilladogna.github.io/fungi-census/" target="_blank">Censimento delle specie di AMB Villa
        d'Ogna</a>
    </p>
    <p>&nbsp</p>
    
    <!-- Group reports by year -->
    {% assign reports_by_year = site.reports | group_by: "year" | sort: "name" | reverse %}
    
    {% for year_group in reports_by_year %}
      <h2>{{ year_group.name }}</h2>
      <div class="grid grid--2col">
        {% assign sorted_reports = year_group.items | sort: "date" | reverse %}
        {% for report in sorted_reports %}
          <div class="card" onclick="window.location.href='.{{ report.url }}'">
            <h3 class="card__title">{{ report.month }} {{ report.year }}</h3>
            <div class="card__meta">
              <p>Totale aggiornamenti: {{ report.total_updates }}</p>
              <p>Aggiornamenti di genere e/o specie: {{ report.genus_species_updates }}</p>
              <p>Aggiornamenti delle attribuzioni: {{ report.attribution_updates }}</p>
              <p>Aggiornamenti della classificazione: {{ report.classification_updates }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    
  </div>
</section>