{%- for entry in include.list -%}
  {%- assign item = entry.href | default: entry -%}
  {%- if item contains '//' -%}
    {%- assign url = item -%}
  {%- elsif item contains '/' -%}
    {%- assign url = item | relative_url -%}
  {%- else -%}
    {%- assign url = '/css/' | append: item | append: '.css' | relative_url -%}
  {%- endif -%}
<link rel="stylesheet" href="{{ url }}"{% if entry.integrity %} integrity="{{ entry.integrity }}" crossorigin="{{ entry.crossorigin | default: 'anonymous' }} referrerpolicy={{ entry.referrerpolicy | default: 'no-referrer' }}"{% endif %}>
{%- endfor -%}