<header>
    <div class="container header__container">
        <div>
            {{ page.title }}
            <p>KLOFAC W., KRISAI-GREILHUBER I.
                (<a class="header-a" href="https://www.zobodat.at/pdf/OestZPilz_27_0081-0303.pdf">articolo 2018</a>,
                <a class="header-a" href="https://www.zobodat.at/pdf/OestZPilz_28_0049-0052.pdf">addendum 2020</a>,
                <a class="header-a" href="classificazione.html">classificazione</a>,
                <a class="header-a" href="simboli.html">simboli utilizzati</a>)
            </p>
        </div>
        <div class="header__nav">
            <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </a>
        </div>
    </div>
</header>