<div class="page_header">
  <p>Chiavi dicotomiche ordine Boletales europee con imenoforo tubulato</p>
  <p>Klofac W., Krisai-Greilhuber I.
    (<a class="header-a" href="https://www.zobodat.at/pdf/OestZPilz_27_0081-0303.pdf">articolo 2018</a>,
    <a class="header-a" href="https://www.zobodat.at/pdf/OestZPilz_28_0049-0052.pdf">addendum 2020</a>,
    <a class="header-a" href="classificazione.html">classificazione</a>,
    <a class="header-a" href="simboli.html">simboli utilizzati</a>)
  </p>
</div>